# Environmental variables
.env

# static files like css, js, images, etc.
/static/assets/data/*
/static/assets/img/*
/static/assets/js/*
/static/assets/scss/*
/static/assets/webfonts/*
/static/assets/fonts/*
/static/assets/css/*
/static/assets/plugins/*

# schema migration configuration
alembic.ini 
alembic/versions/*

# General project excludes
*.cpython*
*.mako
